<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let restaurante of restaurantes" class="col-md-3">
        <a href="#">
          <div class="card card-widget widget-user">
            <div
              class="widget-user-header text-white"
              style="background: url('https://pediu.s3.amazonaws.com/romana_001.jpg') center center;"
            ></div>
            <div class="widget-user-image">
              <img
                class="img-circle"
                src="https://pediu.s3.amazonaws.com/romana3.jpeg"
                alt="User Avatar"
              />
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">9,5</h5>
                    <span>Nota</span>
                  </div>
                </div>
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">150</h5>
                    <span>Elogios</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="description-block">
                    <h5 class="description-header">1</h5>
                    <span>Reclamações</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
