<section class="content-header">
  <h1></h1>
</section>

<section class="content container-fluid" style="margin-top: 50px;">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://pediu.s3.amazonaws.com/romana_001.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Padaria Romana</h5>
          <p class="card-text">
            Mollit culpa pariatur nisi aliqua culpa cillum cupidatat anim sit ad
            excepteur. Aute reprehenderit magna eiusmod culpa excepteur
            cupidatat non sit anim pariatur. Dolor cupidatat cillum qui
            consequat voluptate irure incididunt deserunt irure. Eiusmod id
            minim deserunt laboris nulla occaecat minim enim sint qui irure ea
            ad sit. Esse sunt ea dolore deserunt. Velit dolore officia
            adipisicing eiusmod reprehenderit consectetur do nisi velit
            reprehenderit magna enim eu velit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3"></div>
  </div>
</section>
