<footer id="footer">
  <div
    class="container-fluid d-flex bg-secondary py-3 justify-content-center align-items-center"
  >
    <a href="#" class="text-light text-decoration-none py-1 mx-2"
      >contato: pediu@pediu.com.br</a
    >
    <a href="#" class="text-decoration-none mx-2"
      ><i class="icones text-light fab fa-facebook-square"></i
    ></a>
    <a href="#" class="text-decoration-none mx-2"
      ><i class="icones text-light fab fa-instagram"></i
    ></a>
    <a href="#" class="text-decoration-none mx-2"
      ><i class="icones text-light fab fa-twitter-square"></i
    ></a>
  </div>
</footer>
