<section id="quem-somos" style="margin-top: 50px;">
  <div class="py-5 px-2">
    <h2 class="text-center texto-cor-especial fonte-titulo">Quem somos</h2>
    <p class="text-center text-secondary">
      Conheça a equipe da Pediu
    </p>
  </div>
  <ul
    class="list-unstyled list-inline text-center d-lg-flex justify-content-lg-around"
  >
    <li class="list-inline-item">
      <figure class="figure">
        <img
          src="https://pediu.s3.amazonaws.com/pp.jpeg"
          class="img-thumbnail borda-cor-especial thumb-redondo"
          alt="foto do rosto de uma pessoa"
        />
        <figcaption
          class="figure-caption text-center texto-cor-especial mt-3 fonte-titulo"
        >
          <h4>Germanna</h4>
        </figcaption>
        <figcaption class="figure-caption text-center">CEO</figcaption>
      </figure>
    </li>
    <li class="list-inline-item">
      <figure class="figure">
        <img
          src="https://pediu.s3.amazonaws.com/pp+(1).jpeg"
          class="img-thumbnail borda-cor-especial thumb-redondo"
          alt="foto do rosto de uma pessoa"
        />
        <figcaption
          class="figure-caption text-center texto-cor-especial mt-3 fonte-titulo"
        >
          <h4>Graziella</h4>
        </figcaption>
        <figcaption class="figure-caption text-center">
          COO
        </figcaption>
      </figure>
    </li>
    <li class="list-inline-item">
      <figure class="figure">
        <img
          src="https://pediu.s3.amazonaws.com/IMG_4026.jpeg"
          class="img-thumbnail borda-cor-especial thumb-redondo"
          alt="foto do rosto de uma pessoa"
        />
        <figcaption
          class="figure-caption text-center texto-cor-especial mt-3 fonte-titulo"
        >
          <h4>Felipe</h4>
        </figcaption>
        <figcaption class="figure-caption text-center">
          CTO
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
